.chat-container {
    background-color: lightblue;
      height: 100vh;
}

.chat-box {
  border: 1px solid #ccc;
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chat-container .name {
    text-align: center;
}

.message {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.bot {
  background-color: white;
  align-self: flex-start;
}

.input-area {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 10px;
}

.searchbar {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
}

.chat-container button {
  padding: 8px 15px;
  border-radius: 20px;
  margin-left: 10px;
  background-color: #007bff;
}
